{% extends "base.html" %}

{% block title %}物理设备管理{% endblock %}


{% block breadcrunb %}
  <h1>
     Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">物理设备列表</li>
  </ol>
{% endblock %}



{% block content %}

<!-- Main row -->
<div class="row">
<!-- Left col -->
<div class="col-md-12">

{% include "cmdb/physicaldeviceaddmodel.html" %}


<!-- TABLE: LATEST ORDERS -->
<div class="box box-info">


    <div class="box-header with-border">
      <h3 class="box-title">物理设备列表</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- /.box-header -->

    <div class="box-body">

     <div style="margin-bottom: 10px;height: 30px" class="row">
       <a style="float: left; margin-left: 1%" class="btn btn-sm btn-primary" id = "addbtn"> 添加设备 </a>
        <form style="float: right;width: 20%;margin-right: 1%">
        <div  class="input-group">
            <input type="text" class="form-control" name="keyword"
                 placeholder="设备名|品牌|管理IP|采购日期|序列号|" value="{% if keyword %} {{ keyword }} {% endif %}">
            <div class="input-group-btn">
               <button id='search_btn' type="submit" class="btn btn-sm btn-primary">搜索</button>
            </div>
        </div>
        </form>
     </div>


    <div class="table-responsive">
    <table class="table table-bordered table-striped footable toggle-arrow-tiny" data-page-navigation=".paginations">
        <thead>
	  <tr>
	      <th>设备名称</th>
	      <th>品牌</th>
	      <th>型号</th>
	      <th>SN号</th>
          <th>资产编号</th>
          <th>管理IP</th>
          <th>IDC名称</th>
          <th>所在机柜</th>
          <th>机柜位置</th>
          <th>采购日期</th>
	      <th>操作</th>
	  </tr>
	  </thead>
	  <tbody>
	    {% for device in physical_list %}
		<tr>
		    <td> <a href="{% url 'cmdb:physical_detail'  device.id %}">{{ device.name }}</a> </td>
            <td>{{ device.vendor }}</td>
            <td>{{ device.model }}</td>
            <td>{{ device.sn }}</td>
            <td>{{ device.asset_number }}</td>
            <td>{{ device.mgrip }}</td>
            <td>{{ device.asset_idc.name }}</td>
            <td>{{ device.asset_cab }}</td>
            <td>{{ device.asset_cab_location }}</td>
            <td>{{ device.purchase_date }}</td>
		    <td>
			    <a type="button" class="btn btn-info btn-xs"  href="{% url 'cmdb:physical_detail'  device.id %}" >修改</a>
		    </td>
		</tr>
	    {% endfor %}
	  </tbody>
    </table>

    </div><!-- /.table-responsive -->

    <div class="row">
      <div class="col-sm-6">
	 <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
	     显示 [{{ paginator.count }}] 条数据中的 第 [{{ page_obj.start_index}}] 至 [{{ page_obj.end_index }}] 的数据
	 </div>
      </div>

      {% include 'paginator.html' %}
    </div><!-- /.paginator -->

</div>
<!-- /.box-body -->

</div>
  <!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->


{% endblock %}

{% block js %}

$(".select2").select2({
  width: '100%'
});

$('.datepicker').datepicker({
    language: 'zh-CN',
    autoclose: true,
    format: 'yyyy-mm-dd',
    endDate: '0d'
});

$('select#asset_idc').change(function(){
    idc_id = $(this).val()
    console.log(idc_id)
    $.ajax({
        type: "post",
        url: "/cmdb/assetcabselect/",
        data: {idcid:idc_id},
        dataType: 'json',
        success: function (result) {
            cabs = result.cabs
            $('#asset_cab').empty()  //清空Select
            var cabshtml = '<option>请选择机柜</option>'
            $('#asset_cab').append(cabshtml)
            for (cab in cabs){
                cabshtml = '<option >'+cabs[cab]+'</option>'
                $('#asset_cab').append(cabshtml) //为模态框渲染dbname数据
            }
        },
        error: function () {

        },
    })
});

/*添加模态窗弹出*/
$("#addbtn").click(function(){
    $("#physicaldevice_add_modal").modal("show");
});

/*添加出版商*/
$("#submit_button").click(function(){
    var formdata = $('#AddForm').serialize()
    console.log(formdata)
    $.post('', formdata, function(res){
        console.log(res)
        if (res.code == 0) {
            swal({
                "title": "添加成功",
                 "text": res.result,
                 "type": "success"
            }, function () {
                 setTimeout(function () {
                    window.location.reload();
                 }, 50);
             })
        } else {
            swal("操作失败", res.errmsg, "error");
         }
    })
    return false;
})


{% endblock %}
