<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/button.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/skin-blue.min.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/icheck/build.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/scrollbar/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap-select.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/daterangepicker-bs3.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/build.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/page.css">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/cmdb.css">
  <script src="/static/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
  <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/bootstrap-3.3.7/js/highstock.js"></script>
  <script src="/static/bootstrap-3.3.7/js/exporting.js"></script>
  <script src="/static/bootstrap-3.3.7/js/ajaxfileupload.js"></script>
  <script src="/static/bootstrap-3.3.7/js/jquery-ui.js"></script>
  <script src="/static/bootstrap-3.3.7/js/bootstrap-select.js"></script>
  <script src="/static/bootstrap-3.3.7/js/moment.js"></script>
  <script src="/static/bootstrap-3.3.7/js/daterangepicker.js"></script>

  <script src="/static/bootstrap-3.3.7/js/fastclick.js"></script>
  <script src="/static/bootstrap-3.3.7/js/app.min.js"></script>
  <script src="/static/bootstrap-3.3.7/js/jquery.sparkline.min.js"></script>
  <script src="/static/bootstrap-3.3.7/js/jquery-jvectormap-1.2.2.min.js"></script>
  <script src="/static/bootstrap-3.3.7/js/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/static/bootstrap-3.3.7/js/jquery.slimscroll.min.js"></script>
  <script src="/static/bootstrap-3.3.7/js/Chart.min.js"></script>
  <script src="/static/bootstrap-3.3.7/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/static/bootstrap-3.3.7/js/demo.js"></script>
  <script src="/static/bootstrap-3.3.7/js/base.js"></script>
  {% block css %} {% endblock %}
</head>

<body>
            {% block content %} {% endblock %}
            {% block js %} {% endblock %}
</body>
</html>
